/*  your css code here. If applicable */
*{
    margin: 0px;
    padding: 0px;

}
body{
    position: absolute;
    left:25%;
    top: 150px;
}
div{
height: 50vh;
width:50vw ;
background-color: rgba(177, 171, 162, 0.505);
color: black;
box-shadow: 5px 10px #888888;


}
button , input{
    height: 50px;
    width: 250px;
    background-color: rgb(110, 101, 101);
    color: white;
    position: relative;
    
   
    justify-content: space-between;
left:32%;
top: 23%;
text-align: center;
}
